@section Styles {
    <link rel="stylesheet" href="~/css/dashboard.css">

}

<a asp-area="Admin" asp-controller="Category" asp-action="Index" class="data-card">
    <h3><span class="entityCount" data-wait="2000" data-count="9"></span></h3>
    <h4>Categories</h4>
    <p>Last activity was made on 26.02.2023 at 03:28pm by updating Categorie 7</p>
    <span class="link-text">Wiew all categories<i class='bx bxs-right-arrow'></i></span>
</a>

<a href="#" class="data-card">
    <h3><span class="entityCount" data-wait="2000" data-count="36"></span></h3>
    <h4>Articles</h4>
    <p>Last activity was made on 26.02.2023 at 03:28pm by updating article 35</p>
    <span class="link-text">Wiew all articles<i class='bx bxs-right-arrow'></i></span>
</a>

<a href="#" class="data-card">
    <h3><span class="entityCount" data-wait="2000" data-count="58"></span></h3>
    <h4>Comments</h4>
    <p>Last activity was made on 26.02.2023 at 03:28pm by approving comment 57</p>
    <span class="link-text">Wiew all comments<i class='bx bxs-right-arrow'></i></span>
</a>

<a href="#" class="data-card">
    <h3><span class="entityCount" data-wait="2000" data-count="4"></span></h3>
    <h4>Projects</h4>
    <p>Last activity was made on 26.02.2023 at 03:28pm by adding project 4</p>
    <span class="link-text">Wiew all projects<i class='bx bxs-right-arrow'></i></span>
</a>