html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.home-section {
    padding: 1em;
    position: absolute;
}

table {

    display: block;
    position: relative;
    width: 100%;
}

.tableDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loader-bar {
    width: 6px;
    height: 30px;
    margin: 0 2px;
    background-color: #333;
    animation: loader 1s ease-in-out infinite;
}

@keyframes loader {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1, 1.5);
    }

    40% {
        transform: scale(1);
    }
}

.column-operations {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.btn-update, btn-delete {
    margin: .3rem;
}
